.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .nav-link.btn {
    font-weight: bold;
    padding: 6px 15px;
  }
  
  .nav-link.btn:hover {
    background-color: white;
    color: black !important;
  }
  